stack*.yaml.lock
.stack-work
*~
dist*
*.pyc
.*sw?

## User files
.DS_Store

## Jekyll
_site
.sass-cache
.jekyll-metadata
.jekyll-cache

## Ruby environment normalization:
.bundle/
/docs/vendor/
docs/haddock
