// Code
// ----------------------------------------------
// ----------------------------------------------
p code,
ul code {
    padding: 2px $base-point-grid;
    background: rgba($gray-primary, 0.1);
    font-family: $code-font-family;
    border-radius: 2px;
}


.highlight pre {
  background:  rgba($brand-primary, 0.06);
  padding: ($base-point-grid * 3);
  overflow: auto;
  margin-bottom: ($base-point-grid * 2);
}


code {
    font-family: $code-font-family;
}
