div[id$='-dropdown'] {
  position: relative;

  .dropdown {
    display: block;
    outline: 0;
    width: 100%;

    a {
      &:hover {
        background: lighten($gray-primary, 10%);
      }
    }
  }

  .link-like::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 150%;
    width: 100%;
    background-image: url("../img/arrow-down.svg");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 25%;
    background-size: 0.8em;
    transition: background-position 0.1s ease;

    &:hover,
    &:active,
    &:focus {
      &::after {
        background-position-y: 60%;
      }
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  /* Documentation Dropdown Content (Hidden by Default) */
  .dropdown-content {
    font-size: 0.8rem;
    position: absolute;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    background: lighten($gray-primary, 5%);
    opacity: 0.5;
    transform: rotate3d(1, 0, 0, 90deg);
    transition: transform ease 250ms, opacity ease 100ms;
    transform-origin: top;
    margin-top: 6px;
    text-align: center;

    .dropdown-item {
      width: 100%;

      .dropdown-item-link {
        padding: 12px 9px;
        text-decoration: none;
        display: block;
        border-radius: 0;
        color: $white;
      }
    }
  }

  /* Show the documentation dropdown menu (use JS to add this class
    to the .dropdown-content container when the user clicks on
    the dropdown button) */
  .show {
    transform: rotate3d(1, 0, 0, 0);
    opacity: 1;
  }
}
