name: Deploy
on:
  push:
    branches:
    - master
    - site-deploy-gh
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: mstksg/setup-stack@v1
    - name: Generate Haddock Docs
      run: bash ./generate-haddock-docs.sh
    - name: Get Bundle & Jekyll
      run: |
        sudo apt-get update
        sudo apt-get install ruby-dev
        sudo gem install bundler --force
        sudo gem update --system
        sudo bundle install --gemfile docs/Gemfile --path vendor/bundle
    - name: Build microsite
      run: BUNDLE_GEMFILE=./docs/Gemfile bundle exec jekyll build -s docs -d gen-docs
    - name: Deploy microsite
      uses: peaceiris/actions-gh-pages@v2
      env:
        ACTIONS_DEPLOY_KEY: ${{ secrets.ACTIONS_DEPLOY_KEY }}
        PUBLISH_BRANCH: master
        PUBLISH_DIR: ./gen-docs
