name: Deploy
on:
  push:
    branches:
    - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
    - name: Unshallow
      run: git fetch --prune --unshallow
    - uses: serras/setup-stack@v3
    - uses: actions/cache@v2.1.3
      name: Cache ~/.stack
      with:
        path: ~/.stack
        key: ${{ runner.os }}-stack-${{ hashFiles('stack.yaml') }}
        restore-keys: |
          ${{ runner.os }}-stack-
    - uses: actions/cache@v2.1.3
      name: Cache .stack-work
      with:
        path: .stack-work
        key: ${{ runner.os }}-stack-work-${{ hashFiles('stack.yaml') }}-${{ '**/*.hs' }}
        restore-keys: |
          ${{ runner.os }}-stack-work-
    - name: Get Standalone Haddock
      run: stack --resolver lts-14.27 install standalone-haddock
    - name: Get rdkafka
      run: sudo apt-get install librdkafka-dev
    - name: Get Bundle & Jekyll
      run: |
        sudo apt-get update
        sudo apt-get install ruby-dev
        sudo gem install bundler --force
        sudo gem update --system
        sudo bundle install --gemfile docs/Gemfile --path vendor/bundle
    - name: Build microsite from last release
      run: |
        LAST_TAG=$(git describe --abbrev=0 --tags)
        git checkout $LAST_TAG
        bash ./generate-haddock-docs.sh
        BUNDLE_GEMFILE=./docs/Gemfile bundle exec jekyll build -b /mu-haskell -s docs -d gen-docs
    - name: Build microsite from master
      run: |
        git checkout master
        bash ./generate-haddock-docs.sh
        BUNDLE_GEMFILE=./docs/Gemfile bundle exec jekyll build -b /mu-haskell/wip -s docs -d gen-docs/wip
    - name: Deploy microsite
      uses: peaceiris/actions-gh-pages@v3.7.3
      env:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: gh-pages
        publish_dir: ./gen-docs
